<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2647428615424446</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>2647428615424446</string>
	<key>FacebookClientToken</key>
	<string>dfca1c63adc79a598289303351d2a8d5</string>
	<key>FacebookDisplayName</key>
	<string>WaterPop</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-6056285693747034~5335075740</string>
	<key>GADIsAdManagerApp</key>
	<true/>
	<key>GADNativeAdValidatorEnabled</key>
	<false/>
</dict>
</plist>
